/*TIPOGRAFIAS*/
@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Simonetta&display=swap');
body{
    background-image: linear-gradient(to top,var(--colorCuatro),var(--colorTres));
}
.titulos{
    font-family:'Simonetta', cursive;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
/*VARIABLES*/
:root{
    --colorUno:#f2d1d1;
    --colorDos:#cb9c9c;
    --colorTres:#ffffff;
    --colorCuatro:#c6dce4;
    --colorCinco:#505152;
    --colorSeis:#000000;
    --borde:1px solid black;
}
/*Navegación*/
.logo{
    height: 80px;
    width: 80px;
}
.nav-color{
    height: 6rem;
    font-size: 1.5rem;
    font-family:'Simonetta', cursive;
    background-image: linear-gradient(to bottom,var(--colorCuatro),var(--colorTres));
}
.nav-link{
    color: var(--colorSeis);
    text-shadow: 0px 0px 5px var(--colorTres);
}
/*BIENVENIDO*/
.presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 60rem;
    background-image:linear-gradient(to top,var(--colorDos),var(--colorUno));
    font-family:'Simonetta', cursive;
    font-size:20px;
    text-shadow: 0px 0px 10px var(--colorTres);
}
.presentacion article{
    text-align: center;
    width: 500px;
}
.presentacion img{
    border-radius: 2rem;
    height: 25rem;
    width: 35rem;
    box-shadow: 0px 0px 10px var(--colorCinco);
}
.presentacion button{
    height: 5rem;
    width: 15rem;
    border: transparent;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color:var(--colorCuatro) ;
    font-family:'Simonetta';
    font-style: italic;
    font-size: 25px;
}
.presentacion button:hover{
    background: var(--colorTres) ;
    transition: all .5s ease-in;
}

/*Carreras*/
.carreras{
    margin: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.carreras article{
    text-align: center;
}
.img-carreras:hover{
    box-shadow: 0px 2px 5px black;
}

.card-body h2{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.carreras-presentacion{
    margin-top: 10rem;
    text-align: center;
    font-size: 25px;
    font-family: 'Simonetta';
}

/*CARRUSEL*/
.carrusel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;

}
.carrusel img{
    margin-top: 5rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
    height: 450px;
    width: 800px;
}
/*INFORMACION*/
.informacion article{
    margin-top: 3rem;
    width: 50rem;
    height: 14rem;
    margin-bottom: 5rem;
    border: 1px solid;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px black;
    background: var(--colorTres);
}
.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
}
/*TECNOLOGIA*/
.tecnologia{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    font-family:'Simonetta', cursive;
    font-size:25px;
    text-shadow: 0px 5px 10px var(--colorTres);
    border-bottom: 1px solid black;
}
.tecnologia article{
    text-align: center;
    width: 35rem;
    margin-bottom: 2rem;

}
.tecnologia img{
    border-radius: 2rem;
    height: 20rem;
    width: 25rem;
    box-shadow: 0px 0px 10px var(--colorCinco);
}
/*BOTON*/
.button-aline{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin:10rem;
}
.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Simonetta', cursive;;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.mr-3{
    height: 2rem;
    margin-right: 0.5rem;
}
.newbutton{
    background-color: var(--colorCinco);
    border: none;
    width: 10rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.newbutton a{
    color: var(--colorTres);
    font-family:'Simonetta', cursive;
    font-size: 25px;
}
.newbutton:hover{
    background: var(--colorDos);
    transition: all 1s ease-in;
}
/*PIE*/
.pie{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--colorDos);
    height: 35rem;
    box-shadow: 0px 0px 5px var(--colorSeis);
    width: 50%;
}
.pie form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}
.pie input{
    width: 22rem;
    height: 4rem;
}
.pie img{
    height: 25rem;
    width: 25rem;
}
/*MEDIA*/
@media screen and (max-width:430px) {
/*BIENVENIDO*/
    .presentacion{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 5rem;
        background-image:linear-gradient(to top,var(--colorDos),var(--colorUno));
        font-family:'Simonetta', cursive;
        font-size:20px;
        text-shadow: 0px 0px 10px var(--colorTres);
    }
    .presentacion img{
        border-radius: 2rem;
        height: 15rem;
        width: 20rem;
        box-shadow: 0px 0px 10px var(--colorCinco);
    }
    /*CARRUSEL*/
    .carrusel img{
        margin-top: 5rem;
        border-radius: 2rem;
        border: 2px solid black;
        box-shadow: 0px 0px 5px black;
        height: 15rem;
        width: 20rem;
    }
    /*TECNOLOGIA*/
    .tecnologia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-family:'Simonetta', cursive;
    font-size:18px;
    text-shadow: 0px 5px 10px var(--colorTres);
    }
    .tecnologia article{
    text-align: center;
    }
    .tecnologia img{
    border-radius: 2rem;
    height: 15rem;
    width: 20rem;
    box-shadow: 0px 0px 10px var(--colorCinco);
}
    .informacion article{
        height: 100%;
        width: 20rem;
    }
    .nav-color{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .pie img{
        height: 15rem;
        width: 15rem;
    }
    .pie{
        height: 100%;
        width: 100%;
    }

}


